build/
managed_components/
dependencies.lock
.vscode/settings.json
sdkconfig
sdkconfig.old
release
# VSCode settings are defined by the esp-IDF extension
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
